@model LearningKitCore.Models.ECommerce.ProductFilters.ProductFilterViewModel
@using LearningKitCore.Models.ECommerce.Products

@{
    ViewBag.Title = "Product filter";
}

<h2>Product listing of the LearningProductType with filtering</h2>

<p>
    <a asp-action="FilterPageProperty">> Filter based on a page property (LPTWithFeature)</a>
    <br/>
    <a asp-action="FilterSKUProperty">> Filter based on an SKU property (price)</a>
</p>

@using (Html.BeginForm())
{
    <h3>Manufacturers</h3>
    for (var i = 0; i < Model.Manufacturers.Count; i++)
    {
        <input type="hidden" asp-for="Manufacturers[i].Id" />
        <input type="hidden" asp-for="Manufacturers[i].DisplayName" />
        <input type="checkbox" asp-for="Manufacturers[i].IsChecked" />
        <label asp-for="Manufacturers[i].IsChecked">@Model.Manufacturers[i].DisplayName</label>
    }
    <input type="submit" value="Filter"/>
}

<hr />

@foreach (ProductListItemViewModel product in Model.FilteredProducts)
{
    <a href="@product.ProductUrl.AbsoluteUrl"><h4>@product.Name</h4></a>

    if (!string.IsNullOrEmpty(product.PublicStatusName))
    {
        <span>@product.PublicStatusName</span>
    }

    if (!string.IsNullOrEmpty(product.ImagePath))
    {
        <img src="@product.ImagePath" alt="@product.Name">
    }

    <div>
        @if (!product.Available)
        {
            <span>Out of stock</span>
        }

        <span>@String.Format(product.PriceModel.CurrencyFormatString, product.PriceModel.Price)</span>

        @if (product.PriceModel.ListPrice > product.PriceModel.Price)
        {
            <s>@String.Format(product.PriceModel.CurrencyFormatString, product.PriceModel.ListPrice)</s>
        }
    </div>
}